@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("./fonts.css");

html {
  direction: rtl;
}

body {
  background-color: #f4f4f4;
}

input[type="range"]::-webkit-slider-thumb {
  @apply bg-orange-600;
  height: 16px;
  width: 16px;
  border-radius: 100%;
  -webkit-appearance: none;
}
