@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("./fonts.css");

html {
  direction: rtl;
}

body {
  background-color: #f4f4f4;
}

.goToCartLink a {
  display: block;
  padding: 0.75rem 2rem;
  width: 100%;
  height: 100%;
}

.footerWrapper {
  min-height: calc(100vh - 8rem);
  margin-bottom: 2rem;
}

input[type="range"]::-webkit-slider-thumb {
  @apply bg-orange-600;
  height: 16px;
  width: 16px;
  border-radius: 100%;
  -webkit-appearance: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
